@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Roboto:wght@500;700&display=swap');

:root{
    --bg-color: #fff;
    --bg-black-color: #000;
    --bg-dark-color: #FF4363;
    --icon-bg-color: #FFF4F5;
    
    --btn-color: #FF4363;
    --btn-light-color: #fff;

    --light-color: #fff;
    --lighter-color: #666;
    --darker-color: #222;

    --block-shadow: rgb(0 0 0 / 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 48px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--bg-color); 
}
  
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--bg-color);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
    
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

.hamburger--3dx .hamburger-box {
    perspective: 80px; }
  
.hamburger--3dx .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); 
}

.hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    transform: rotateY(180deg); 
}

.hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}

.hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); 
}

.header{
    position: fixed;
    width: 100%;
    height: 92px;
    z-index: 9999;
    background-color: var(--bg-dark-color);
}

.header-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-inner .logo-block a{
    display: inherit;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 48px;
    color: var(--light-color);
}

.header nav{
    position: absolute;
    top: calc(-100vh + 70px);
    right: 100px;
    height: 0;
    background-color: var(--bg-dark-color);
    z-index: -1;
}

.header nav{
    display: block;
    /* top: calc(-100vh + 70px); */
}



.header nav.open{
    top: 70px;
    animation: navopen .3s ease-in-out;
}
@keyframes navopen {
    0%{
        top: calc(-100vh + 70px);
    }
    100%{
        top: 70px;
    }
}



.header nav.close{
    animation-name: close;
    animation-duration:1s;
    /* top: 70px; */
}

.header nav{
    top: calc(-100vh + 70px);
}

@keyframes close {
    0%{
        top: 70px;
        animation: animrev .6s ease-in-out;
    }
    50%{
        top: 70px;
    }
    100%{
        top: calc(-100vh + 70px);
        animation-name: navclose;
        animation-duration: .3s;
        animation-delay: .3s;
    }
}



@keyframes anim {
    0%{
        transform: translate(50px, 0);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

.header nav.open ul li{
    animation: anim .5s ease-in-out;
    opacity: 1;
}

.header nav.open ul li:nth-child(2){
    animation: anim .6s ease-in-out;
    opacity: 1;
}

.header nav.open ul li:nth-child(3){
    animation: anim .7s ease-in-out;
    opacity: 1;
}

.header nav.open ul li:nth-child(4){
    animation: anim .8s ease-in-out;
    opacity: 1;
}

.header nav.open ul li:nth-child(5){
    animation: anim .9s ease-in-out;
    opacity: 1;
}

.header nav.open ul li:nth-child(6){
    animation: anim 1s ease-in-out;
    opacity: 1;
}



@keyframes animrev {
    0%{
        transform: translate(0, 0);
        opacity: 1;
    }
    100%{
        transform: translate(50px, 0);
        opacity: 0;
    }
    
}

.header nav.close ul li{
    animation: animrev .6s ease-in-out;
    opacity: 0;
}

.header nav.close ul li:nth-child(2){
    animation: animrev .5s ease-in-out;
}

.header nav.close ul li:nth-child(3){
    animation: animrev .4s ease-in-out;
}

.header nav.close ul li:nth-child(4){
    animation: animrev .3s ease-in-out;
}

.header nav.close ul li:nth-child(5){
    animation: animrev .2s ease-in-out;
}

.header nav.close ul li:nth-child(6){
    animation: animrev .1s ease-in-out;
}


.header nav.open ul li:last-child{
    padding-bottom: 0;
}

.header nav>div{
    height: 100%;
}

.header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header nav ul li{
    padding-left: 20px;
    opacity: 0;
}

.header nav ul li a{
    color: var(--light-color);
    font-weight: 500;
}

.hero{
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: var(--bg-dark-color);
    height: 952px;
    overflow: hidden;
    margin-bottom: 60px;
}

.hero-inner{
    position: relative;
    padding-top: 165px;
    display: flex;
    justify-content: space-between;
}

.hero-inner .content-side{
    padding-top: 79px;
    width: 57%;
    max-width: 613px;
}

.hero-inner .img-side{
    width: 43%;
}

.hero .bottom-bg{
    position: absolute;
    left: 0;
    bottom: -1px;
    background: url(../img/Wave.png);
    width: 100%;
    height: 137px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    background-size: 100% 100px;
}

.hero-inner .content-side .ttl{
    font-size: 82px;
    line-height: 98px;
    color: var(--light-color);
    font-weight: 700;
    padding-bottom: 31px;
}

.hero-inner .content-side .desc{
    line-height: 30px;
    color: var(--light-color);
    padding-bottom: 50px;
}

.btns-block{
    display: flex;
}

.btns-block a{
    display: inherit;
    padding: 22px;
}

.btns-block a:first-child{
    margin-right: 45px;
}

.btn{
    background-color: var(--bg-dark-color);
    border-radius: 35px;
    color: var(--light-color);
    font-size: 24px;
    line-height: 21px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 39px;
    display: inline-block;
}

.btn-white{
    background-color: var(--light-color);
    color: var(--btn-color);
}

.btn-nobg{
    line-height: 21px;
    color: var(--light-color);
    display: flex;
    align-items: center;
    background-color: unset;
}

.btn-vid{
    font-size: 20px;
}

.btn img{
    width: 15px;
    height: auto;
    display: block;
    margin-right: 10px;
}

.cards{
    width: 100%;
    display: inline-block;
    margin: 60px 0;
}

.cards-inner{
    padding: 0 15px;
}

.cards-inner .cards-list{
    width: 100%;
    display: flex;
    gap: 3%;
}

.card{
    width: 32%;
    max-width: 370px;
    height: 370px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 59px var(--block-shadow);
}

.card .inner-content{
    padding: 70px 48px 32px;
    height: inherit;
}

.card .img-block{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto 10px;
    background-color: var(--icon-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .img-block img{
    max-width: 100%;
    height: auto;
    display: block;
}

.card .ttl{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.card .desc{
    font-size: 16px;
    color: var(--lighter-color);
    font-family: 'Poppins', sans-serif;
}

.mixed-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 66px;
}

.mixed-inner .content-block{
    width: 49%;
}

.content-block .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin-bottom: 23px;
    background-color: var(--icon-bg-color);
    border-radius: 50%;
}

.mixed-inner .content-block .icon img{
    max-width: 100%;
    height: auto;
    display: block;
}

.content-block .ttl{
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    padding-bottom: 31px;
}

.content-block .txt{
    line-height: 30px;
    font-weight: 400;
    color: var(--lighter-color);
    padding-bottom: 38px;
}

.faq-inner .content-block .txt{
    padding-bottom: 50px;
}

.mixed{
    width: 100%;
    display: inline-block;
    margin: 60px 0 40px;
}

.content-block .txt p{
    padding-bottom: 24px;
}

.content-block .txt ul li{
    color: #222;
}

.content-block .txt ul li:before{
    content: '';
    width: 11px;
    height: 11px;
    display: inline-block;
    background-color: var(--bg-dark-color);
    border-radius: 50%;
    margin-right: 11px;
}

.mixed-inner .img-block{
    position: relative;
    width: calc(49% - 47px);
}

.mixed-inner .img-block img{
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 640px;
    width: 130%;
    transform: translate(0, -50%);
}

.faq{
    width: 100%;
    display: inline-block;
    margin: 40px 0;
}

.faq-inner{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.faq-inner .content-block{
    width: 100%;
    max-width: 536px;
}

.faq-inner  .img-block{
    padding-top: 130px;
    padding-right: 50px;
}

.faq-inner  .img-block img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.acc__card{
	position: relative;
    padding-bottom: 32px;
}

.acc__card:last-child{
    padding-bottom: 0;
}

.acc__card .acc__title{
    font-size: 24px;
    line-height: 28px;
    color: var(--color);
    font-weight: 500;
    cursor: pointer;
}

.acc__card .acc__panel {
	display: none;
	font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--lighter-color);
    padding-top: 14px;
}

.acc__card .acc__panel.active{
	display: block;
}

.achievements{    
    width: 100%;
    display: inline-block;
    margin: 32px 0;
}

.achievements-inner{
    padding: 96px 100px;
    background-color: var(--bg-dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.achievements-inner .counter-wrap{
    width: 24%;
    text-align: center;
}

.achievements-inner .counter-wrap .ttl{
    font-size: 60px;
    font-weight: 600;
    color: var(--light-color);
    padding-bottom: 12px;
}

.achievements-inner .counter-wrap .sub{
    color: var(--light-color);
}

.contact{
    width: 100%;
    display: inline-block;
    margin: 58px 0 110px;
}

.contact-inner{
    width: 100%;
    max-width: 622px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.contact-inner .ttl{
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    color: var(--darker-color);
    padding-bottom: 31px;
}

.contact-inner .sub{
    line-height: 30px;
    color: var(--lighter-color);
    font-weight: 400;
    padding-bottom: 31px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: var(--bg-black-color);
}

.footer-inner{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-inner .social-list a{
    color: var(--btn-light-color);
    line-height: 21px;
    font-weight: 400;
    margin-right: 10px;
}

.footer-inner .footer-logo h2{
    color: var(--btn-light-color);
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.footer-inner .copy-txt{
    color: var(--btn-light-color);
    line-height: 21px;
}